@for $i from 0 through 12 {
    .pl-#{$i} {
        padding-left: calc(var(--design-unit) * #{$i}px);
    }

    .pr-#{$i} {
        padding-right: calc(var(--design-unit) * #{$i}px);
    }

    .pt-#{$i} {
        padding-top: calc(var(--design-unit) * #{$i}px);
    }

    .pb-#{$i} {
        padding-bottom: calc(var(--design-unit) * #{$i}px);
    }
}

@for $i from 0 through 12 {
    .ml-#{$i} {
        margin-left: calc(var(--design-unit) * #{$i}px);
    }

    .mr-#{$i} {
        margin-right: calc(var(--design-unit) * #{$i}px);
    }

    .mt-#{$i} {
        margin-top: calc(var(--design-unit) * #{$i}px);
    }

    .mb-#{$i} {
        margin-bottom: calc(var(--design-unit) * #{$i}px);
    }
}

.flex-center {
    display: flex;
    align-items: center;
}

@import "~@vscode/codicons/dist/codicon.css";