.root {
  overflow: hidden;
  min-width: 480px;
  margin: 20px 40px 0;
}
 
.setting-header {
  color: var(--vscode-settings-headerForeground);
  margin-bottom: 0;
}
 
.setting-section {
  padding: 10px 8px 14px;
 
  &:hover {
    background-color: var(--vscode-settings-focusedRowBackground);
  }
}

.setting-section-header {
  color: var(--vscode-settings-headerForeground);
  display: flex;
  align-items: baseline;
  padding-top: 2px;

  .setting-section-title {
    margin: 0;
    padding-right:8px;
  }
 
  span {
    color: var(--vscode-descriptionForeground);
  }
}
 
.setting-section-description {
  color: var(--vscode-descriptionForeground);
}

.setting-section-target {
  padding: 2px 0;
}

.setting-section-dropdown {
  width: 320px;

  .dropdown-description {
    position: sticky;
    top: 0;
    background: var(--dropdown-background);
  }
  &[open][position='below'] .dropdown-above-description {
    display: none;
  }

  &[open][position='above'] .dropdown-below-description {
    display: none;
  }

  &[open][position='above'] #add-new-jdk {
    margin: calc(var(--design-unit) * 1px) 0;
  }
 
  p {
    word-break: break-all;
    margin: 0;
    padding: 4px;
  }

  .setting-section-option {
    padding: 0 4px;
    .setting-section-option-action {
      display: flex;
      align-items: flex-end;
      .codicon {
        margin-right: calc(var(--design-unit) * 1px);
      }
    }
  }
}

.setting-section-warning {
  color: var(--vscode-editorWarning-foreground);
}

.setting-section-grid-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 4px;
 
  .setting-section-grid-row-header {
    font-weight: 700;
  }
 
  span {
    font-size: 12.8px;
    line-height: 22px;
    word-break: break-all;
  }
}

.setting-section-text {
  width: 420px;
  word-break: break-all;
}

.inactive {
  opacity: 0.67;
}

@import "~@vscode/codicons/dist/codicon.css";
