.setting-header {
  color: var(--vscode-settings-headerForeground);
}
 
.setting-section {
  width: 100%;
}

.setting-panels {
  overflow-x: visible;

  .setting-panels-view {
    max-width: 80vw;
    flex-direction: column;
  }
}

.setting-section-header {
  color: var(--vscode-settings-headerForeground);
  display: flex;
  align-items: baseline;

  .setting-section-title {
    margin: 0;
  }
 
  span {
    color: var(--vscode-descriptionForeground);
  }
}
 
.setting-section-description {
  color: var(--vscode-descriptionForeground);
}

.setting-section-dropdown {
  width: 320px;

  .dropdown-description {
    position: sticky;
    top: 0;
    background: var(--dropdown-background);
  }
  &[open][position='below'] .dropdown-above-description {
    display: none;
  }

  &[open][position='above'] .dropdown-below-description {
    display: none;
  }

  &[open][position='above'] #add-new-jdk {
    margin: calc(var(--design-unit) * 1px) 0;
  }
 
  p {
    word-break: break-all;
    margin: 0;
    padding: 4px;
  }

  .setting-section-option {
    padding: 0 4px;
    .setting-section-option-action {
      display: flex;
      align-items: flex-end;
      .codicon {
        margin-right: calc(var(--design-unit) * 1px);
      }
    }
  }
}

.setting-section-warning {
  color: var(--vscode-editorWarning-foreground);
}

.setting-section-grid-row {
  padding-left: 4px;
  .setting-section-grid-row-header {
    font-weight: 700;
  }
  .setting-section-grid-cell {
    padding: 0;
    display: flex;
    align-items: center;
  }
  .setting-section-grid-cell-left {
    padding-right: calc(var(--design-unit) * 4px);
  }
  .setting-section-grid-cell-readonly {
    justify-content: space-between;
  }
  .setting-section-grid-cell-editable {
    justify-content: end;
  }
  .setting-section-grid-text {
    flex-grow: 1;
  }

  span {
    font-size: 12.8px;
    line-height: 22px;
    word-break: break-all;
  }
}

.setting-section-subtitle {
  display: flex;
  align-items: baseline;
}

.setting-section-text {
  width: 100%;
  max-width: 420px;
  word-break: break-all;
}

.setting-list-actions {
  height: calc(var(--design-unit) * 8px);
}

.setting-overflow-area {
  overflow: auto;
  max-height: 50vh;
}

.inactive {
  opacity: 0.67;
}
