div#content {
    min-width: 550px;
    padding: 0 24px 0 24px;
}

div.container {
    margin-top: 1.5rem;
    padding: 0 20px 0 20px;
}

vscode-data-grid-row.sticky-header vscode-data-grid-cell {
    font-weight: bold;
}

select#jdkDropdown {
    background-color: var(--dropdown-background);
    color: var(--dropdown-foreground);

    align-items: center;
    box-sizing: border-box;
    border: calc(var(--border-width) * 1px) solid var(--dropdown-border);
    border-radius: calc(var(--corner-radius) * 1px);
    cursor: pointer;
    display: flex;
    font-family: inherit;
    font-size: var(--type-ramp-base-font-size);
    line-height: var(--type-ramp-base-line-height);
    min-height: 100%;
    width: 3rem;
}

@import "~@vscode/codicons/dist/codicon.css";
@import "~@vscode/codicons/dist/codicon.ttf";