div.container {
    min-width: 550px;
}

sup.newtag {
    color: var(--vscode-terminal-ansiRed);
    font-weight: bold;
    margin-left: 0.2rem;
}

span.red-dot {
    height: 0.5rem;
    width: 0.5rem;
    background-color: var(--vscode-terminal-ansiRed);
    border-radius: 50%;
    display: inline-block;
    margin-left: 0.2rem;
    margin-bottom: 0.2rem;
}