$body-bg: var(--vscode-editor-background);
$body-color: var(--vscode-editor-foreground);
$link-color: var(--vscode-textLink-foreground) !default;
$link-hover-color: $link-color;
$link-hover-decoration: none !default;

$list-group-bg: var(--vscode-notifications-background) !default;
$list-group-active-color: var(--vscode-notifications-foreground) !default;
$list-group-active-bg: var(--vscode-notifications-border) !default;
$list-group-hover-bg: var(--vscode-list-hoverBackground) !default;
$list-group-action-active-bg: $list-group-bg;
$list-group-border-color: var(--vscode-notifications-background) !default;
$list-group-action-color: var(--vscode-notifications-foreground) !default;
$list-group-item-padding-y: .75rem !default;
$list-group-item-padding-x: 1rem !default;

$list-group-border-radius:          0 !default;

$font-size-base: .8rem !default;

$code-font-size: $font-size-base;
$kbd-bg: var(--vscode-button-background) !default;
$kbd-color: var(--vscode-button-foreground) !default;
$pre-color: var(--vscode-textPreformat-foreground) !default;

$text-muted: var(--vscode-editorCodeLens-foreground) !default;

$nav-tabs-link-active-color: var(--vscode-sideBarTitle-foreground);
$nav-tabs-link-active-bg: var(--vscode-sideBar-background);
$nav-tabs-link-active-border-color: var(--vscode-sideBarTitle-foreground) var(--vscode-sideBarTitle-foreground) var(--vscode-sideBar-background) var(--vscode-sideBarTitle-foreground);
$nav-tabs-link-hover-border-color: var(--vscode-sideBarTitle-foreground);
$nav-tabs-border-color:  var(--vscode-sideBarTitle-foreground);

$card-bg: var(--vscode-sideBar-background);
$card-color: var(--vscode-sideBarTitle-foreground);
$card-border-color: var(--vscode-sideBar-border);

$input-group-addon-bg: var(--vscode-sideBar-background);
$input-group-addon-color: var(--vscode-sideBarTitle-foreground);

$code-color: var(--vscode-textPreformat-foreground);

$input-color:var(--vscode-sideBarTitle-foreground);
$input-bg:var(--vscode-sideBar-background);
@import "~bootstrap/scss/bootstrap";

